*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form{
    height: 55ch;
    width: 40ch;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 5ch;
   
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #080710;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    font-weight: bold;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
}


input[type=text]{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    margin-top: 2ch;
    font-size: 150%;
    font-weight: 300;
    font-size: 32px;

}
input[type=password]{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    margin-top: 2ch;
    font-size: 150%;
    font-weight: 300;
    font-size: 32px;

}

::placeholder{
    color: #080710;

}
button{
    margin-top: 3ch;
    margin-left: 5ch;
    width: 60%;
    background-color: #ffffff;
    color: #080710;
     padding: 2ch 2ch; 
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #21D4FD;

    border-radius: 5px;
    
}
